.conrainer {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
div {
    max-width: 500px;
    background-color: gray;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}
h1, p {
    text-align: center;
    color: yellow;
    font-size: 40px;
    font-weight: 800;
}

button {
    transform: rotate(45deg);
    padding: 20px;
    background-color: aqua;
    color: red;
    border: none;
    font-size: 20px;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
    -webkit-transform: scale(10px);
    -moz-transform: scale(10px);
    -ms-transform: scale(10px);
    -o-transform: scale(10px);
}